quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://example.com/quanan"
    xmlns="http://example.com/quanan" elementFormDefault="qualified">

    <!-- Ràng buộc Username -->
    <xs:simpleType name="usernameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="6"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Ràng buộc Password -->
    <xs:simpleType name="passwordType">
        <xs:restriction base="xs:string">
            <xs:minLength value="10"/>
            <xs:maxLength value="50"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="BAN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TENBAN" type="xs:string"/>
                            <xs:element name="SOBAN" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="NHANVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MANV" type="xs:string"/>
                            <xs:element name="TENNV" type="xs:string"/>
                            <xs:element name="SDT" type="xs:string"/>
                            <xs:element name="DIACHI" type="xs:string"/>
                            <xs:element name="GIOITINH" type="xs:string"/>
                            <xs:element name="USERNAME" type="usernameType"/>
                            <xs:element name="PASSWORD" type="passwordType"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="MON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MAMON" type="xs:string"/>
                            <xs:element name="TENMON" type="xs:string"/>
                            <xs:element name="GIA" type="xs:float"/>
                            <xs:element name="HINHANH" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="HOADON" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="SOHD" type="xs:integer"/>
                            <xs:element name="NGAYLAP" type="xs:date"/>
                            <xs:element name="TONGTIEN" type="xs:float"/>
                            <xs:element name="BAN" type="xs:string"/>
                            <xs:element name="NHANVIEN" type="xs:string"/>
                            <xs:element name="CTHD" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MAMON" type="xs:string"/>
                                        <xs:element name="SOLUONG" type="xs:integer"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="PK_Ban">
            <xs:selector xpath="BAN"/>
            <xs:field xpath="TENBAN"/>
        </xs:key>

        <xs:key name="PK_NhanVien">
            <xs:selector xpath="NHANVIEN"/>
            <xs:field xpath="MANV"/>
        </xs:key>

        <xs:key name="PK_Mon">
            <xs:selector xpath="MON"/>
            <xs:field xpath="MAMON"/>
        </xs:key>

        <xs:key name="PK_HoaDon">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="SOHD"/>
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="FK_HoaDon_Ban" refer="PK_Ban">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="BAN"/>
        </xs:keyref>

        <xs:keyref name="FK_HoaDon_NhanVien" refer="PK_NhanVien">
            <xs:selector xpath="HOADON"/>
            <xs:field xpath="NHANVIEN"/>
        </xs:keyref>

        <xs:keyref name="FK_CTHD_Mon" refer="PK_Mon">
            <xs:selector xpath="HOADON/CTHD"/>
            <xs:field xpath="MAMON"/>
        </xs:keyref>
    </xs:element>
</xs:schema>
