student_key.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="DSSV">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="LOP" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaLop" type="xs:string"/>
                            <xs:element name="TenLop" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <xs:element name="SINHVIEN" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MaSV" type="xs:string"/>
                            <xs:element name="HoTen" type="xs:string"/>
                            <xs:element name="Lop" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
        <xs:key name="PK_Lop">
            <xs:selector xpath="LOP"/>
            <xs:field xpath="MaLop"/>
        </xs:key>
        <xs:keyref name="FK_SinhVien_Lop" refer="PK_Lop">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="Lop"/>
        </xs:keyref>
        <xs:key name="PK_SinhVien">
            <xs:selector xpath="SINHVIEN"/>
            <xs:field xpath="MaSV"/>
        </xs:key>

    </xs:element>
</xs:schema>
